*{
    margin: 0px;
}
header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 30px 150px 0px 200px;

}
.banner-image{
    width: 584px;
    height: 676px;
}
body{
    font-family: 'Lato', sans-serif;
}
.banner-title{
    color: #272727;
font-size: 80px;
font-weight: 800;
}
.banner-content{
    max-width: 800px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-top: 15px;
margin-bottom: 15px;
max-width: 500px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color:#FFFFFF;
    border: 0px;
    padding: 15px 35px;
    font-size: 20px;
font-weight: 700;
}
.sale{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
padding: 130px 400px;
display: flex;
gap: 100px;
align-items: center;
}
.section-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
margin-bottom: 15px;
text-align: center;

}
.section-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 15px;

}
.sale-image{
    width: 200px;
height: 250px;
}
#center-btn{
   margin-left: 128px;
}
.images{
    display: flex;
    gap: 10px;
}
.insta-images{
    width: 290px;
    height: 280px;
}
.instagram{
    padding: 15px 250px;
    margin-top: 100px;
}
.deals-form{
    display: flex;
    gap: 5px;
}
.form{
    display: block;
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
   
}
.deals{
    margin-top: 100px;
    
    background-image: url("./Flower\ Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-position: center; 
    padding: 15px 200px;
    margin-left: 150px;
    margin-right: 150px;
}
#btn-small{
   width: 180px;
   height: 50px;
}
footer{
    background-color: black;
    margin-top: 100px;
    padding: 50px 200px;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
font-size: 18px;
font-weight: 400;
padding: 50px;
text-align: center;
}
.footer-title{
    color: #E55473;
font-size: 48px;
font-weight: 800;
text-align: center;
margin-bottom: 15px;
}
.featured-images{
    display: flex;
    gap: 20px;
    padding: 15px 350px;
}
.feat-images{
    
    border-radius: 300px 300px 0px 0px;
width: 250px;
height: 280px;

}
#first-img{
    background: rgba(167, 33, 98, 0.15);
}
#second-img{
    background: rgba(5, 151, 160, 0.15);

}
#third-img{
    background: rgba(71, 125, 17, 0.15);
}
.featured{
     margin-top: 100px;
     margin-bottom: 100px;
}
figcaption{
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
}