*{
    margin: 0px;
}
header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 30px 150px 0px 200px;

}
.banner-image{
    width: 584px;
    height: 676px;
}
body{
    font-family: 'Lato', sans-serif;
}
.banner-title{
    color: #272727;
font-size: 80px;
font-weight: 800;
}
.banner-content{
    max-width: 800px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-top: 15px;
margin-bottom: 15px;
max-width: 500px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color:#FFFFFF;
    border: 0px;
    padding: 15px 35px;
    font-size: 20px;
font-weight: 700;
}
.sale{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
padding: 130px 400px;
display: flex;
gap: 100px;
align-items: center;
}
.section-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
margin-bottom: 15px;
text-align: center;

}
.section-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 15px;

}
.sale-image{
    width: 200px;
height: 250px;
}
#center-btn{
   margin-left: 128px;
}
.images{
    display: flex;
    gap: 10px;
}
.insta-images{
    width: 290px;
    height: 280px;
}
.instagram{
    padding: 15px 250px;
    margin-top: 15px;
}
